/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../_sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../_sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 6, ../_sass/components/_typography.scss */
h1.page-title {
  text-align: center;
  font-weight: 300;
  font-size: 4em;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: .5em;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* line 18, ../_sass/components/_typography.scss */
nav {
  font-family: "Lato", sans-serif;
}
/* line 20, ../_sass/components/_typography.scss */
nav .nav-name {
  font-size: 2em;
}
/* line 23, ../_sass/components/_typography.scss */
nav .nav-links li {
  font-size: 1.25em;
}

/* line 29, ../_sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.35;
  font-family: "Lato", sans-serif;
}

/* line 35, ../_sass/components/_typography.scss */
h1 {
  font-size: 2em;
  padding-bottom: 1rem;
  letter-spacing: .05em;
}

/* line 45, ../_sass/components/_typography.scss */
h2 {
  font-size: 1.75em;
  margin-bottom: 20px;
  letter-spacing: .05em;
}

/* line 54, ../_sass/components/_typography.scss */
p {
  line-height: 1.824375em;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Lato", sans-serif;
}

/* line 64, ../_sass/components/_typography.scss */
a {
  text-decoration: none;
}

/* line 66, ../_sass/components/_typography.scss */
i {
  font-style: italic;
}

/* line 1, ../_sass/components/_navbar.scss */
.nav-container {
  position: fixed;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 10, ../_sass/components/_navbar.scss */
.nav-name {
  float: left;
  display: inline-block;
  padding: .5em;
  letter-spacing: .05em;
}

/* line 17, ../_sass/components/_navbar.scss */
.nav-primary {
  width: 100%;
}
/* line 19, ../_sass/components/_navbar.scss */
.nav-primary ul:hover {
  background-color: #1e5799;
  background-image: -webkit-radial-gradient(#1e5799, #3dc3d1);
  background-image: radial-gradient(  #1e5799, #3dc3d1);
}
/* line 22, ../_sass/components/_navbar.scss */
.nav-primary li {
  float: right;
  display: inline-block;
  padding: 1em;
  margin-right: .75em;
}
/* line 27, ../_sass/components/_navbar.scss */
.nav-primary li :visited {
  color: black;
}

/* line 1, ../_sass/pages/_home.scss */
.aboutme {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 15, ../_sass/bourbon/addons/_clearfix.scss */
.aboutme:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../_sass/pages/_home.scss */
.aboutme h1 {
  text-align: center;
  padding: .5em;
  margin: 0 auto;
  width: 90%;
}
/* line 11, ../_sass/pages/_home.scss */
.aboutme p {
  text-align: justify;
  width: 75%;
  margin: 0 auto;
  padding: 1em;
}

/* line 1, ../_sass/pages/_resume.scss */
section.experience {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 15, ../_sass/bourbon/addons/_clearfix.scss */
section.experience:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../_sass/pages/_resume.scss */
section.experience .experience-row {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* line 8, ../_sass/pages/_resume.scss */
section.experience .experience-row .column-4 {
  display: table-cell;
  width: 33.33333%;
  padding: 2.35765%;
}
/* line 12, ../_sass/pages/_resume.scss */
section.experience .experience-row .column-4-skills {
  display: table-cell;
  width: 100%;
  padding: 2.35765%;
}
/* line 15, ../_sass/pages/_resume.scss */
section.experience .experience-row .column-4-skills h3 {
  text-align: center;
  margin-bottom: 20px;
}
/* line 19, ../_sass/pages/_resume.scss */
section.experience .experience-row .column-4-skills li {
  line-height: 1.824375em;
  padding-left: 3em;
  font-family: "Lato", sans-serif;
}
/* line 25, ../_sass/pages/_resume.scss */
section.experience .experience-row .column-8 {
  display: table-cell;
  width: 100%;
  padding: 2.35765%;
}

/* line 1, ../_sass/pages/_portfolio.scss */
section.portfolio {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 15, ../_sass/bourbon/addons/_clearfix.scss */
section.portfolio:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../_sass/pages/_portfolio.scss */
section.portfolio .portfolio-row {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* line 8, ../_sass/pages/_portfolio.scss */
section.portfolio .portfolio-row .column-6 {
  display: table-cell;
  width: 100%;
  padding: 2.35765%;
}

/* line 1, ../_sass/pages/_contact.scss */
.contact {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3em;
}
/* line 15, ../_sass/bourbon/addons/_clearfix.scss */
.contact:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../_sass/pages/_contact.scss */
.contact h1 {
  padding: .5em;
  margin: 0 auto;
  text-align: justify;
  width: 80%;
}
/* line 11, ../_sass/pages/_contact.scss */
.contact .info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}
/* line 16, ../_sass/pages/_contact.scss */
.contact .info p {
  text-align: center;
}

/* line 24, ../_sass/screen.scss */
body {
  background: url("/img/highline.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
