/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// CSS Frameworks
@import "compass/reset";
@import "bourbon/bourbon";
@import "neat/neat";

// Settings
@import "settings/colors";

// Components
@import "components/typography";
@import "components/navbar";

// Pages
@import "pages/home";
@import "pages/resume";
@import "pages/portfolio";
@import "pages/contact";

body {
	background: url('/img/highline.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
