.body-portfolio {
	background: url('/img/ceid.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section.portfolio {
	@include outer-container;
	padding: 3em;
	background-color: $backdrop;
	.portfolio-row {
		@include fill-parent();
		@include row(table);
		.column-6 {
			@include span-columns(6);
			padding: 1em;
			position: relative;
			.img-container {
				overflow:hidden;
				position: relative;
				height: 25em;
				background-color: gray;
				img {
					position: absolute;
					top: 50%;
				    left: 50%;
				    margin-right: -50%;
				    transform: translate(-50%, -50%);
				}
				#aerospace {
					left:150%;
				}
				#ycreate {
					top:45%;
				}
				#thoracostomy {
					left: 110%;
				}
				.img-title {
					@include transform(translateY(3.5em));
					z-index: 100;
					position: absolute;
					width: 100%;
					text-align: center;
				}
				.img-description {
					@include linear-gradient(rgba(0,0,0,0),  rgba(0,0,0,1));
					@include transform(translateY(5em));
					@include transition(all 0.5s ease-out);
					z-index: 100;
					position: absolute;
					width: 100%;
					padding: 1em;
					bottom: 0em;
					text-align: right;				
				}	
			}
			.img-container:hover .img-description {
				@include transform(translateY(0em));
				@include transition(all 0.5s ease-out);
			}
		}
	}
}