// Typography Variables

$primary-font: 'Lato', sans-serif;
$copy-font: 'Open Sans';

$default-shadow: 2px 2px 2px black;

// // Default Type Sizes
// $h1-font-size: 3em;
// $h2-font-size: 1.875em;
// $h3-font-size: 1.25em;
// $main-font-size: 1rem;

// // Specialized Type Sizes
// $masthead-font-size: 2.74em;
// $secondary-masthead-font-size: 2.5875em;
// $subhead-font-size: 2.5875em;

// //
// // Mobile Type Sizes
// //

// // Default Mobile Type Sizes
// $mobile-h1-font-size: 3em;
// $mobile-h2-font-size: 1.5em;
// $mobile-h3-font-size: 1.25em;
// $mobile-main-font-size: 0.875em;

// // Specialized Mobile Type Sizes
// $mobile-masthead-font-size: 2.1875em;

// // misc
// $large-border-radius: .875em;
// $small-border-radius: .375em;