@import "settings/grid";
@import "settings/typography";

// body { font-family: $primary-font, sans-serif; }

h1.page-title {
	text-align:center;
	font-weight: 300;
	font-size: 4em; 	
	width:100%;
	padding-top:1.5em;
	padding-bottom:.5em;
	color:white;
	text-shadow: $default-shadow;
}

// Text for Navigation Bar
nav {
	font-family: $primary-font;	
	.nav-name {
		font-size:2em;
	}
	.nav-links li {
		font-size: 1.25em;
	}	
}

// Text for Portfolio Squares

span {
	font-family: $primary-font;
	font-size: 1.25em;	
	color: white;
}

.img-title {
	font-size: 3em !important;
	text-shadow: $default-shadow;
	p {
		@include transform(translateY(-.5em));
		font-size:.5em;
		text-align: center;
		z-index: 100;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.35;
	font-family: $primary-font;	
}

h1 {
	font-size: 2em;
	padding-bottom: 1rem;
	letter-spacing: .05em;

	// @include media($tablet) {
	// 	font-size: $h1-font-size;
	// }
}

h2 {
	font-size: 1.75em;
	margin-bottom: 20px;
	letter-spacing: .05em;
	// @include media($tablet) {
	// 	font-size: $h2-font-size;
	// }
}

p {
	line-height: 1.824375em;
	margin-bottom: 20px;
	text-align: justify;
	font-family: $primary-font;
	// @include media($tablet) {
	// 	font-size: $main-font-size;
	// }
}

a { text-decoration: none; }

i { font-style: italic; }