@import "settings/grid";
@import "settings/typography";

// body { font-family: $primary-font, sans-serif; }

h1.page-title {
	text-align:center;
	font-weight: 300;
	font-size: 3em; 	
	width:100%;
}

// Text for Navigation Bar
nav {
	.nav-name {
		font-size:1.5em;
	}
	.nav-links li {
		font-size: 1.5em;
	}	
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.35;	
}

h1 {
	font-size: 1.5em;
	padding-bottom: 1rem;

	// @include media($tablet) {
	// 	font-size: $h1-font-size;
	// }
}

h2 {
	font-size: 1.4em;
	margin-bottom: 20px;
	// @include media($tablet) {
	// 	font-size: $h2-font-size;
	// }
}

p {
	line-height: 1.824375em;
	margin-bottom: 20px;
	text-align: justify;
	// @include media($tablet) {
	// 	font-size: $main-font-size;
	// }
}

a { text-decoration: none; }

i { font-style: italic; }